@model Turnos.Models.Medico
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar</title>
</head>
<body>
<h4>Médicos</h4>
    <div>
        <h3>¿Seguro que desea eliminar el siguiente médico?</h3>
        <hr />
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><h5><b>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</b></h5></span>
                        <dl class="row">
                            <dt>
                                @Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(model => model.Direccion)
                            </dt>
                            <hr>
                            <dt>
                                @Html.DisplayNameFor(model => model.Tel): @Html.DisplayFor(model => model.Tel)
                            </dt>
                            <hr>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)
                            </dt>
                            <hr>
                            <dt>
                                @Html.DisplayNameFor(model => model.HorarioDesde): @Html.DisplayFor(model => model.HorarioDesde)
                            </dt>
                            <hr>
                            <dt>
                                @Html.DisplayNameFor(model => model.HorarioHasta): @Html.DisplayFor(model => model.HorarioHasta)
                            </dt>
                            <hr>
                        </dl>
                    </div>
                    <div class="card-action blue-grey darken-3">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="ID_Medico"/>                            
                            <input type="submit" value="Confirmar" class="waves-effect waves-light btn">
                            <!-- Este anchor ref no funciona porque para usar un método tipo post se debe enviar a travez de un Form y un botón submit
                            <a asp-action="Delete" asp-route-id="@Model.ID_Medico">Confirmar</a>
                            -->
                            <a asp-action="Index">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</body>
</html>
