@model IEnumerable<Turnos.Models.Medico>
<p>
    <a asp-action="Create" class="btn-floating btn-large green accent-4"><i class="material-icons">person_add</i></a>
</p>
<table class="sa responsive-table highlight z-depth-3">
    <thead class="blue lighten-1">
        <tr>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(model => model.HorarioDesde)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(model => model.HorarioHasta)
            </th>
            <th style="border-radius: 0;">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody class="blue lighten-4">
@foreach (var item in Model) {
        <tr>
            <td style="border-radius: 0;">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="border-radius: 0;">
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td style="border-radius: 0;">
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td style="border-radius: 0;">
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td style="border-radius: 0;">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="border-radius: 0;">
                @Html.DisplayFor(modelItem => item.HorarioDesde)
            </td>
            <td style="border-radius: 0;">
                @Html.DisplayFor(modelItem => item.HorarioHasta)
            </td>
            <td style="border-radius: 0;">
                <a asp-action="Edit" asp-route-id="@item.ID_Medico"><i class="material-icons">edit</i></a> |
                <a asp-action="Details" asp-route-id="@item.ID_Medico"><i class="material-icons brown-text">more</i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Medico"><i class="material-icons  red-text">delete</i></a>
            </td>
        </tr>
}
    </tbody>
</table>