@model Turnos.Models.Paciente;

<h4>Paciente</h4>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Email)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Email)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.ID_Paciente">Editar</a>
    <a asp-action="Index">Volver</a>
</div>