@model IEnumerable<Turnos.Models.Paciente>

<p>
    <a asp-action="Create" class="btn-floating btn-large green accent-4"><i class="material-icons">person_add</i></a>
</p>
<table class="responsive-table highlight z-depth-3">
    <thead class="blue lighten-1">
        <tr>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Email)
            </th>
        </tr>
    </thead>
    <tbody class="blue lighten-4">
        @foreach (var p in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(cosa => p.Nombre);
                </td>
                <td>
                    @Html.DisplayFor(cosa => p.Apellido);
                </td>
                <td>
                    @Html.DisplayFor(cosa => p.Direccion);
                </td>
                <td>
                    @Html.DisplayFor(cosa => p.Telefono);
                </td>
                <td>
                    @Html.DisplayFor(cosa => p.Email);
                </td>
                <td>
                    @Html.DisplayFor(cosa => p.Nombre);
                </td>
                <td>
                    <a asp-action="Details" asp-route-id=@p.ID_Paciente>Detalle</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id=@p.ID_Paciente>Editar</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id=@p.ID_Paciente>Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>