@model IEnumerable<Turnos.Models.Paciente>
<p>
    <a asp-action="Create" class="btn-floating btn-large green accent-4"><i class="material-icons">person_add</i></a>
</p>
<table class="responsive-table highlight">
    <thead class="blue lighten-1">
        <tr>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(modelo => modelo.Nombre)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(modelo => modelo.Apellido)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(modelo => modelo.Direccion)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(modelo => modelo.Telefono)
            </th>
            <th style="border-radius: 0;">
                @Html.DisplayNameFor(modelo => modelo.Email)
            </th>
            <th style="border-radius: 0;">
                <!-- Este th lo puse para que los botones se poangan debajo de esta columna -->
            </th>
        </tr>
    </thead>
    <tbody class="blue lighten-4">
        @foreach (var p in Model)
        {
            <tr>
                <td style="border-radius: 0;">
                    @Html.DisplayFor(cosa => p.Nombre)
                </td>
                <td style="border-radius: 0;">
                    @Html.DisplayFor(cosa => p.Apellido)
                </td>
                <td style="border-radius: 0;">
                    @Html.DisplayFor(cosa => p.Direccion)
                </td>
                <td style="border-radius: 0;">
                    @Html.DisplayFor(cosa => p.Telefono)
                </td>
                <td style="border-radius: 0;">
                    @Html.DisplayFor(cosa => p.Email)
                </td>
                <td style="border-radius: 0;">
                <a asp-action="Edit" asp-route-id="@p.ID_Paciente"><i class="material-icons">edit</i></a> |
                <a asp-action="Details" asp-route-id="@p.ID_Paciente"><i class="material-icons brown-text">more</i></a> |
                <a asp-action="Delete" asp-route-id="@p.ID_Paciente"><i class="material-icons  red-text">delete</i></a>
                </td>                
            </tr>
        }
    </tbody>
</table>